<% self.class.include Rails.application.routes.url_helpers %>
<h2>{{ 'pages.users.sign_in.title' | translate }}</h2>

<% User.omniauth_providers.each do |provider| %>
  <a target="_blank" href="<%= user_omniauth_authorize_path(provider) %>">Sign in with <%= OmniAuth::Utils.camelize(provider) %></a>
<% end %>
