<% self.class.include Rails.application.routes.url_helpers %>
<h2>{{ 'pages.users.sign_in.title' | translate }}</h2>

<div class="row">
  <div class="col-lg-12">
    <a target="_self" href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
      {{ 'pages.users.sign_in.google' | translate }}
    </a>
  </div>
  <div class="col-lg-12">
    <a target="_self" href="<%= user_omniauth_authorize_path(:vkontakte) %>">
      {{ 'pages.users.sign_in.vk' | translate }}
    </a>
  </div>
</div>
