<h1 class="heading">Waster</h1>
<div ng-repeat="day in workTimes.days">
  <div class="row">
    <div class="col-lg-3">
      {{ 'date.day_names.'+(day.date | weekDay) | translate  }}
    </div>
    <div class="col-lg-7">
      <div ng-show="day.is_missing">
        {{ 'missing_day' | translate }}
      </div>
      <div ng-show="!day.is_missing">
        <span>{{ day.total_worked | minutesToHuman }}</span>, 
        <span ng-class="{overtime: day.is_overtime, undertime: !day.is_overtime && day.overtime_minutes > 0}">{{ day.overtime_minutes | minutesToHuman }}</span>
        (<span ng-repeat="interval in day.intervals">
          {{ interval.time_in | time }} - {{ interval.time_out ? (interval.time_out | time) : ('now' | translate) }}
          <span ng-if="!$last">, </span>
        </span>)
      </div>
    </div>
    <div class="col-lg-2">
      <span ng-click="day.showEdit = !day.showEdit">Редактировать</span>
    </div>
  </div>
  <div class="row" ng-repeat="interval in day.editableIntervals">
    <div class="col-lg-2">
        <input class="form-control" ng-model="interval.time_in" />
    </div>
    <div class="col-lg-2" ng-show="interval.time_out">
        <input class="form-control" ng-model="interval.time_out" />
    </div>
    <div class="col-lg-2">
      <button class="btn btn-warning" ng-click="updateInterval(interval)">{{ 'save' | translate }}</button>
    </div>
  </div>
</div>

<div class="row" ng-if="workTimes">
  <div class="col-lg-12">
    <span ng-show="workTimes.total_overtime >= 0">{{ 'total_overtime' | translate }}: {{ workTimes.total_overtime | minutesToHuman }}</span>
    <span ng-show="workTimes.total_overtime < 0">{{ 'total_undertime' | translate }}: {{ workTimes.total_overtime | minutesToHuman }}</span>
  </div>
  <div class="col-lg-12">
    {{ 'left_to_work' | translate }}: {{ workTimes.left_minutes | minutesToHuman }}
  </div>
</div>

<div class="row" ng-if="workTimes">
  <div class="col-lg-12">
    <div class="form-group">
      <button ng-show="workTimes.checked_out" class="btn btn-primary" ng-click="check()">{{ 'check_in' | translate }}</button>
      <button ng-show="!workTimes.checked_out" class="btn btn-primary" ng-click="check()">{{ 'check_out' | translate }}</button>
    </div>
  </div>
</div>
