<ul class="lst timer-lst">
  <li class="lst_i timer-lst_i" ng-repeat="day in data.days">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <span class="timer-lst_day">{{ 'date.day_names.'+(day.date | weekDay) | translate }}</span>: 
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <span class="red" ng-show="day.is_missing">
          {{ 'pages.work_times.index.missing_day' | translate }}
        </span>
        <div ng-show="!day.is_missing">
          {{ day.total_worked | minutesToHuman }},
          <span ng-class="{overtime: day.is_overtime, undertime: !day.is_overtime && day.overtime_minutes > 0}">
            {{ day.overtime_minutes | minutesToHuman }}
          </span>
          (<span ng-repeat="interval in day.intervals">
            {{ interval.time_in | time }} - {{ interval.time_out ? (interval.time_out | time) : ('pages.work_times.index.now' | translate) }}
            <span ng-if="!$last">, </span>
          </span>)
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" ng-if="!day.is_missing">
        <a href="#" class="edit" ng-click="day.showEdit = !day.showEdit">
          {{ 'pages.work_times.index.edit' | translate }}
        </a>
      </div>
    </div>
    <div ng-if="!day.is_missing && day.showEdit" class="row edit-form" ng-repeat="interval in day.editableIntervals">
      <div class="col-lg-2" ng-show="interval.time_in != null">
          <input class="it" ng-model="interval.time_in" />
      </div>
      <div class="col-lg-2" ng-show="interval.time_out != null">
          <input class="it" ng-model="interval.time_out" />
      </div>
      <div class="col-lg-2">
        <button class="btn btn-warning" ng-click="updateInterval(interval)">{{ 'pages.work_times.index.save' | translate }}</button>
      </div>
    </div>
  </li>
</ul>
<br>

<div class="result">
  <div class="result_overunder">
    <span ng-show="data.total_overtime >= 0">
      {{ 'pages.work_times.index.total_overtime' | translate }}:
      {{ data.total_overtime | minutesToHuman }}
    </span>
    <span ng-show="data.total_overtime < 0">
      {{ 'pages.work_times.index.total_undertime' | translate }}:
      {{ data.total_overtime | minutesToHuman }}
    </span>
  </div>

  <div class="result_work">
    {{ 'pages.work_times.index.left_to_work' | translate }}: {{ data.left_minutes | minutesToHuman }}
  </div>
  <div class="result_finish" ng-show="!data.checked_out">
    {{ 'pages.work_times.index.work_day_ends_at' | translate }}: {{ data.day_ends_at | date: 'HH:mm' }}
  </div>
  <!-- <div class="result_advice"> -->
    <!-- Рекомендуемый конец рабочего дня в 18:54 -->
  <!-- </div> -->

  <br>
  <div>
    <button ng-show="data.checked_out" class="btn btn-primary" ng-click="check()">{{ 'pages.work_times.index.check_in' | translate }}</button>
    <button ng-show="!data.checked_out" class="btn btn-primary" ng-click="check()">{{ 'pages.work_times.index.check_out' | translate }}</button>
  </div>
</div>
