<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 pull-left">
    <a href="" ng-click="back()">
      <span ng-show="data.time_frame == 'week'">{{ 'pages.work_times.index.back_week' | translate }}</span>
      <span ng-show="data.time_frame == 'month'">{{ 'pages.work_times.index.back_month' | translate }}</span>
    </a>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="center-block time-frame">
      {{ data.range_begin | shortDate }} - {{ data.range_end | shortDate }}
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="pull-right">
      <a href="" ng-click="forward()">
        <span ng-show="data.time_frame == 'week'">{{ 'pages.work_times.index.forward_week' | translate }}</span>
        <span ng-show="data.time_frame == 'month'">{{ 'pages.work_times.index.forward_month' | translate }}</span>
      </a>
    </div>
  </div>
</div>
<ul class="lst timer-lst">
  <li class="lst_i timer-lst_i"
      ng-repeat="day in data.days">
    <div class="row" ng-class="{pointer: !day.is_missing}" ng-click="day.showEdit = !day.showEdit">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span class="timer-lst_day">
          {{ 'date.day_names.'+(day.date | weekDay) | translate }}, 
          {{ day.date | shortDate }}
        </span>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span class="red" ng-show="day.is_missing && day.is_day_off">
          {{ 'pages.work_times.index.day_off' | translate }}
        </span>
        <span class="red" ng-show="day.is_missing && !day.is_day_off">
          {{ 'pages.work_times.index.missing_day' | translate }}
        </span>
        <div ng-show="!day.is_missing">
          {{ day.total_worked | minutesToHuman }},
          <span ng-class="{overtime: day.is_overtime, undertime: !day.is_overtime && day.overtime_minutes > 0}">
            {{ day.overtime_minutes | minutesToHuman }}
          </span>
          (<span ng-repeat="interval in day.intervals">
            {{ interval.time_in | time }} -
            {{ interval.time_out ? (interval.time_out | time) : ('pages.work_times.index.now' | translate) }}
            <span ng-if="!$last">, </span>
          </span>)
        </div>
      </div>
    </div>
    <div ng-if="!day.is_missing && day.showEdit" class="row edit-form" ng-repeat="interval in day.editableIntervals">
      <div class="col-lg-2 col-sm-2 col-md-2" ng-show="interval.time_in != null">
          <input class="it" ng-model="interval.time_in" />
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2" ng-show="interval.time_out != null">
          <input class="it" ng-model="interval.time_out" />
          <day-picker interval="interval" on-select-prev-date="selectPrevDate(interval, prevDate)"></day-picker>
      </div>
      <div class="col-lg-2 col-sm-2 col-md-2">
        <button class="btn btn-warning" ng-click="updateInterval(interval)">{{ 'buttons.save' | translate }}</button>
      </div>
    </div>
  </li>
</ul>
<br>

<div class="result">
  <div class="result_overunder">
    <span ng-show="data.total_overtime >= 0">
      {{ 'pages.work_times.index.total_overtime' | translate }}:
      {{ data.total_overtime | minutesToHuman }}
    </span>
    <span ng-show="data.total_overtime < 0">
      {{ 'pages.work_times.index.total_undertime' | translate }}:
      {{ data.total_overtime | minutesToHuman }}
    </span>
  </div>

  <div class="result_work" ng-show="!data.range_finished">
    {{ 'pages.work_times.index.left_to_work' | translate }}: {{ data.left_minutes | minutesToHuman }}
  </div>
  <div class="result_finish" ng-show="!data.checked_out">
    {{ 'pages.work_times.index.work_day_ends_at' | translate }}: {{ data.day_ends_at | date: 'HH:mm' }}
  </div>
  <!-- <div class="result_advice"> -->
    <!-- Рекомендуемый конец рабочего дня в 18:54 -->
  <!-- </div> -->

  <br>
  <div>
    <button ng-show="data.checked_out" class="btn btn-primary" ng-click="check()">{{ 'pages.work_times.index.check_in' | translate }}</button>
    <button ng-show="!data.checked_out" class="btn btn-primary" ng-click="check()">{{ 'pages.work_times.index.check_out' | translate }}</button>
  </div>
</div>
