<!DOCTYPE html>
<html>
<head>
  <title>Waster</title>
  <base href="/">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700italic,900,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', defer: true %>
  <%= csrf_meta_tags %>
  <script>
    // Manual angular bootstraping
    document.addEventListener("DOMContentLoaded", function(event) {
      angular.bootstrap(document, ['<%= Rails.application.class.parent_name %>']);
      document.getElementsByClassName('wrapper')[0].style.display = 'block';
    });
  </script>
</head>
<body ng-cloak>

  <div style="display: none" class="wrapper" ng-controller="CommonCtrl">

    <!-- Header -->
    <div class="header">
      <div class="header_logo">
        <div class="header_logo_text">
          <a href="/">
            Waster<span class="header_logo_dot">.</span>info
          </a>
        </div>
        <div class="header_logo_dscr">
          Time tracker
        </div>
      </div>

      <div class="h __h_l __light">
      </div>

      <div class="menu">
        <span class="menu_item" ng-if="!Auth.isAuthenticated()">
          <a href="/users/sign_in">{{ 'menu.sign_in' | translate }}</a>
        </span>
        <span class="menu_item" ng-if="Auth.isAuthenticated()">
          <a href="/profile">{{ 'menu.profile' | translate }}</a>
          |
        </span>
        <span class="menu_item" ng-if="Auth.isAuthenticated()">
          <a href="" ng-click="Auth.logout()">{{ 'menu.sign_out' | translate }}</a>
        </span>
      </div>
    </div>
    <!-- /Header -->

    <!-- Content -->
    <div class="cnt">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            <div ng-view>Loading...</div>
            <div class="prefooter">
              <div class="row">
                <a href="" ng-click="setLocale('en')">Eng</a> 
                |
                <a href="" ng-click="setLocale('ru')">Rus</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /Content -->
    <div class="push"></div>
  </div>

  </body>
</html>
